name: Expo Android APK Build

on:
  push:
    branches:
      - main

jobs:
  build-android-apk:
    runs-on: ubuntu-latest

    steps:
      - name: Setup repo
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 22.x
          cache: npm

      - name: Install dependencies
        run: npm ci || npm install

      - name: Install EAS CLI
        run: npm install -g eas-cli

      - name: Build Android APK
        run: eas build -p android --profile preview --non-interactive
        env:
          EXPO_TOKEN: ${{ secrets.EXPO_TOKEN }}
